footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	padding: 80px 10%;
	gap: 20px;
	
	border-radius: 50px 50px 0px 0px;
	background-color: var(--color-text-light);		
}

.footer__top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	img{
		max-width: clamp(100px, 2vw, 200px);
		aspect-ratio: 170/47;
		height: auto;
	}

	a{
		color: var(--color-text-light);
		background: var(--gradient-linear-components);
		border-radius: 18px;
		width: fit-content;	
	}
}

.footer__links{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 20px;

	.footer__divisor{
		display: absolute;
		width: 100%;
		height: 5px;
		border-radius: 15px;
		background: var(--gradient-linear-components);
	}

	.footer__links-wrapper{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;

		width: 100%;

		.footer__links-column{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			width: fit-content;

			color: var(--color-text-main);
			
			h3{
				font-size: clamp(var(--text-h6), 1.3vw, var(--text-h4));
				color: var(--color-main-tone-1);
			}

			ul{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				list-style: none;
			}
			
			a{
		        color: var(--color-text-main);
		        text-decoration: none;
		        cursor: pointer;
		
		        &:hover{
		            border-bottom: 2px solid var(--color-main-tone-1);
		        }
			}
		}
	}
}

.footer__copyright{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: var(--color-text-muted);
}

@media (max-width: 910px){

	footer{
		padding: 60px 4%;
		height: fit-content;
	}

	.footer__top{
		a{
			font-size: clamp(var(--text-small), 1.8vw, var(--text-h6))
		}
	}

	.footer__links{
		.footer__links-wrapper{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			gap: 30px;

		}
	}

}
