#resources{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    gap: 10px;

	background-color: var(--color-text-light);
	border-radius: 50px;
    
    overflow: visible;
}

.resources__section-1{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 70px;

}

.section-1__column-left{
    display: flex;
    padding: 40px 0px;
    max-width: 100%;

}

.section-1__column-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 90px;
    padding: 50px 0px;
    max-width: 100%;

    .resources-wrapper{
        display: flex;
        flex-direction: row;
        gap: 50px;

        .resources__resource{
            h4{
                font-size: var(--text-h5);
                color: var(--color-text-main);
                max-width: 500px;
            }
            p{
                max-width: 500px;
                color: var(--color-text-main);
            }
        }
    }
}

.resources__section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

	gap: 70px;
    padding: 60px 0px;
}

.section-2__column-left{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    width: fit-content;
    
    justify-content: flex-start;
    align-items: center;


    img {
		max-width: 100%;
        aspect-ratio: 519/586;
    }
}

.section-2__column-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    width: fit-content;
}

.resources__section-3{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.section-3__column-left{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    width: fit-content;
    height: 100%;
    
}

.section-3__column-right{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    width: fit-content;
    
    justify-content: flex-start;
    align-items: center;

    img {
		max-width: 100%;
        aspect-ratio: 522/516;
    }	
}

@media (max-width: 910px){
	#resources{
	    padding: 40px 4%;
	    gap: 10px;
	    
		border-radius: 40px;
	}

	.resources__section-1{
	    flex-direction: column;
	    justify-content: center;
	    width: 100%;
	    gap: 10px;

	}

	.section-1__column-left{
	    display: flex;
	    padding: 0px 0px;
	    max-width: fit-content;

	}

	.section-1__column-right{
	    gap: 50px;
	    padding: 50px 0px;
	    max-width: 100%;

	    .resources-wrapper{
	        display: flex;
	        flex-direction: row;
	        gap: 20px;
			
	        .resources__resource{

				img{
					width: 50px;
				}
	        
	            h4{
	                font-size: var(--text-h6);
	            }
	            p{
	            	font-size: var(--text-small);
	            }
	        }
	    }
	}

	
	.resources__section-2{
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	
		gap: 10px;
	    padding: 10px 0px 0px 0px;
	}
	
	.section-2__column-left{
	    display: flex;
   	    justify-content: flex-start;
   	    align-items: center;
   	    width: 100%;
	
	    img {
	    	align-self: flex-start;
			max-width: 55%;
	        aspect-ratio: 519/586;
	    }
	}
	
	.section-2__column-right{
	    display: flex;
	}
	
	.resources__section-3{
	    display: flex;
	    flex-direction: column-reverse;
	    justify-content: space-between;
	    align-items: center;
	    padding: 40px 0px 20px 0px;
	    width: 100%;
	    gap: 40px;
	}
	
	.section-3__column-left{
	    display: flex;
	    flex-direction: row-reverse;
	    justify-content: right;
	    align-items: center;
	    width: fit-content;
	    height: 100%;
	    
	}
	
	.section-3__column-right{
	    display: flex;
	    width: 100%;
	    
	    justify-content: flex-start;
	    align-items: center;
	
	    img {
			max-width: 60%;
			align-self: flex-end;
	        aspect-ratio: 522/516;
	    }	
	}
	
}
