#students{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	overflow: hidden;
	padding: 100px 10%;
	gap: 90px;
	border-radius: 50px;

	background-color: var(--color-text-light);
}

.students__column-left{
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: top;

	gap: 50px;
	width: 100%;

	.text-wrapper{
	    /*overwriting class from styles*/
	    h2{
	        max-width: 1000px;
	    }
	    p{
	        font-weight: 500;
	        max-width: 900px;
	    }
	}

	a{
		color: var(--color-text-light);
		background: var(--gradient-linear-components);
		border-radius: 18px;
		width: fit-content;
	}
}

.students__column-right{
	display: flex;
	flex: 2;
	flex-direction: row;
	min-width: 0;
	max-width: fit-content;
	justify-content: center;
	
	gap: 70px;

	.students__testimonial-wrapper{
		display: flex;
		flex-direction: column;
		max-width: clamp(30%, 70%, 100%);
		gap: 10px;
		
		.students__photo{
			width: clamp(60px, 6vw, 300px);
			aspect-ratio: 94/94;
			height: auto;
		}

		.students__name-wrapper{
			display: flex;
			flex-direction: column;
			gap: 0px;

			h2{
				color: var(--color-text-main);
				font-size: clamp(var(--text-h6), 1.3vw, var(--text-h3));
			}

			p{
				color: var(--color-text-muted);
				font-weight: 600;
			}
		}

		.students__testimonial{
			color: var(--color-text-main);
			font-size: var(--text-base);
		}
	}
}

@media (max-width: 1200px){
	.students__column-right{
		flex-direction: column;
	}
}

@media (max-width: 910px){
	#students{
		flex-direction: column;
		padding: 100px 4%;
		
	}
	
	.students__column-left{
		.text-wrapper{
		    /*overwriting class from styles*/
		    h2{
		        max-width: 1000px;
		    }
		    p{
		        font-weight: 500;
		        font-size: var(--text-base);
		        max-width: 900px;
		    }
		}
	
		a{
			display: none;
		}
	}
	
	.students__column-right{	
		.students__testimonial-wrapper{
			max-width: clamp(30%, 100%, 100%);
			
		}	
	}
}
